<html>
<body>
<p>Le contrôleur fait les demandes de déploiement de machines virtuelles et transmet les requêtes
aux répartiteurs de requêtes.</p>

<p>Le Controleur est connecté au RequestGenerator et aux Computers.
Il reçoit les requêtes du générateur de requêtes.
Il fait des demandes de déploiement de machines virtuelles auprès des Computers
si nécessaire : c'est-à-dire si les queues de chaque machine virtuelle
dediée a une application sont  pleines. On changera cette politique de déploiement dans
le futur.</p>
</body>
</html>